* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.login-box {
  width: 330px;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  border-radius: 8px;
  box-shadow: 1px 1px 2px 2px rgb(175, 173, 173)
}

.login-heading {
  border-bottom: 1px solid black;
  width: 275px;
  height: 60px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.email-container {
  /* border: 2px solid yellow; */
  width: 275px;
  display: flex;
  flex-direction: column;
}

.password-container {
  /* border: 2px solid blue; */
  width: 275px;
  display: flex;
  flex-direction: column;
}

.email-address {
  font: 20px;
  font-weight: bold;
  margin-top: 20px;
}

.email {
  height: 30px;
  width: 275px;
  font-size: 16px;
  margin-top: 5px;
  border-radius: 3px;
  outline: none;
  padding: 3px;
  border: 1px solid black;


}

.password {
  font: 20px;
  font-weight: bold;
  margin-top: 10px;

}

.pass {
  height: 30px;
  width: 275px;
  font-size: 16px;
  margin-top: 5px;
  border-radius: 3px;
  outline: none;
  padding: 3px;
  border: 1px solid black;
}

.btn-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  height: 90px;
}

.submit {
  height: 30px;
  width: 275px;
  font-size: 16px;
  background-color: white;
  border-radius: 3px;
  border: none;
  color: white;
  cursor: pointer;
  background-color: #0d6efd;
}

.signup-box {
  /* border: 2px solid grey; */
  width: 350px;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  border-radius: 8px;
  box-shadow: 1px 1px 2px 2px rgb(175, 173, 173)
}

.user-container {
  /* border: 2px solid yellow; */
  width: 275px;
  display: flex;
  flex-direction: column;
}